	body{
		background:#A52A2A;
	}

	h1{
		font-family: Arial, sans-serif;
		color:#DCDCDC;
		font-size: 40px;
		text-align: left;
		text-transform:uppercase;}

	h2{
		font-family: Arial, sans-serif;
		color:#DCDCDC;
		font-size: 20px;
		text-align: left;	
	}
	
	p{
		color:white;
		font-size: 16px;
		line-height: 200%}


	.noshow{
		visibility:hidden;
	}


#active: active{
	visibility:visible;
	}

a:active {
	visibility:visible;
}

.wrapper{
	width:40vw;
	background:grey;
	float:left;
}

.clear{
	clear:left;
}


#absolute{
	position:absolute
	top:50px;
	right:50px;
}

#fixed{
	position:fixed
	top:50px;
	left:50px;
}

#relative{
	position:fixed
	top:50px;
	left:5
}