
	body{
		background:rgba(222,222,222,255) ;
	}

	h1{
		font-family: "helvetica", Arial, sans-serif;
		background: rgba(192,192,192,255);
		color:white;
		font-size: 50px;
		text-align: center;
		text-transform:uppercase;}
	
	p{
		background:#A199AD;
		color:white;
		font-size: 30px;
		text-align: center;}

	img{
		size:50% width;
		align-content: center;}

	/*id--overrides the class*/
	#special {
		font-weight: bold;
		cursor:pointer;
	}

	/*class*/
	.firstthree{
		font-size:70;

	}

  /*when using hover, change only occurs when mouse is over it */
	a:hover{
		color:purple;

	}