<style type="text/css">

	h1{
		font-family: "helvetica", Arial, sans-serif;
		background: rgba(192,192,192,255);
		color:white;
		font-size: 50px;
		text-align: center;
		text-transform:uppercase;
	}
	p{background:#A199AD;
		color:white;
		font-size: 30px;
		text-align: center;}

	img{size:50% width;
		align-content: center;}

	</style>