
	body{
		background:rgba(222,222,222,255) ;
	}

	h1{
		font-family: sans-serif;
		color:white;
		font-size: 40px;
		text-align: left;
		text-transform:uppercase;}
	
	p{
		color:white;
		font-size: 20px;
		text-align: left;}

	img{
		size:50% width;
		align-content: center;}

	/*id--overrides the class*/
	#special {
		font-weight: bold;
		cursor:pointer;
	}

	/*class*/
	.firstthree{
		font-size:70;

	}

  /*when using hover, change only occurs when mouse is over it */
	a:hover{
		color:purple;

	}