

body{
		background:#D3D3D3;
	}

h1{
		font-family: Arial, sans-serif;
		color:#F0F0F0;
		font-size: 50px;
		text-align: center;
	}

h2{
		font-family: Arial, sans-serif;
		color: #F0F0F0;
		font-size: 20x;
		text-align: center;
	}
	
h3{
		font-family: Arial, sans-serif;
		color:#F0F0F0;
		font-size: 12px;
		text-align: center;
	}

p{
		color:white;
		font-size: 15x;
		text-align: center;

	}
a{		color:#707070;
		font-size: 15px;
		text-align: center;

}

